* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

label {
    width: 20%;
}

label, input, select {
    font-size: max(14px, 1vmax);
}

input, select {
    padding: 1.5%;
}